[submodule "FFmpeg"]
	path = FFmpeg
	url = git@github.com:carlossless/FFmpeg-iOS-build-script.git
[submodule "Carthage/Checkouts/Curry"]
	path = Carthage/Checkouts/Curry
	url = https://github.com/thoughtbot/Curry.git
[submodule "Carthage/Checkouts/HockeySDK-iOS"]
	path = Carthage/Checkouts/HockeySDK-iOS
	url = https://github.com/bitstadium/HockeySDK-iOS.git
[submodule "Carthage/Checkouts/Argo"]
	path = Carthage/Checkouts/Argo
	url = https://github.com/thoughtbot/Argo.git
[submodule "Carthage/Checkouts/SnapKit"]
	path = Carthage/Checkouts/SnapKit
	url = https://github.com/SnapKit/SnapKit.git
[submodule "Carthage/Checkouts/Runes"]
	path = Carthage/Checkouts/Runes
	url = https://github.com/thoughtbot/Runes.git
[submodule "Carthage/Checkouts/R.swift.Library"]
	path = Carthage/Checkouts/R.swift.Library
	url = https://github.com/mac-cain13/R.swift.Library.git
[submodule "Carthage/Checkouts/ReactiveSwift"]
	path = Carthage/Checkouts/ReactiveSwift
	url = https://github.com/ReactiveCocoa/ReactiveSwift.git
[submodule "Carthage/Checkouts/ReactiveCocoa"]
	url = https://github.com/ReactiveCocoa/ReactiveCocoa.git
[submodule "Carthage/Checkouts/Fuzi"]
	path = Carthage/Checkouts/Fuzi
	url = https://github.com/cezheng/Fuzi.git
[submodule "Carthage/Checkouts/Result"]
	path = Carthage/Checkouts/Result
	url = https://github.com/antitypical/Result.git
