github "ReactiveCocoa/ReactiveSwift"
github "ReactiveCocoa/ReactiveCocoa"
github "thoughtbot/Argo"
github "thoughtbot/Curry"
github "SnapKit/SnapKit"
github "mac-cain13/R.swift.Library"
github "bitstadium/HockeySDK-iOS"
github "onevcat/Kingfisher"
github "melvitax/DateHelper"
github "carlossless/broad-ffmpeg"

github "Quick/Quick"
github "Quick/Nimble"
